@media print
   {
    @page {
        size: letter;
    }
    body {
       font-size: 11pt;
    }

    img.avatar {
        display: none !important;
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }

    img {
       filter: grayscale(1);
       width: 0.5in;
       height: auto;
        -webkit-filter: greyscale(1);
    }

   #circle-icon {
       display: none;
    }

   #icon {
       color: black !important;
    }

   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact; 
    }

    .remove-container.container-block {
       display: none;
    }
    
    a[href]:after {
    content: none !important;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

}
